@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&family=Crimson+Text&display=swap");

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  /*border: black;
  border-style: solid;*/
  background-color: #fbefd8;
}

.modal-mydocuments {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.mycase-heading-box {
  min-width: 100%;
  min-height: 100%;
  border: 1px black solid;
}

h1 {
  font-family: "Cormorant Unicase", serif;
  font-size: 2.5vw;
}
p,
span {
  font-family: "Crimson Text", serif;
  font-size: 1.5vw;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Crimson Text", serif;
}

.centred {
  position: absolute;
  top: 25%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
body {
  background-color: #fbefd8;
  height: 100%;
}

.document-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.map-screen {
  font-size: 1.5vw;
}

.footer {
  position: absolute;
  top: 75%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 30%;
  text-align: center;
  font-size: 1.5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-link {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 50px;
  width: 55px;
  position: relative;
}

.footer-link-map {
  background-image: url("./images/vectorMap.png");
}

.footer-link-documents {
  background-image: url("./images/vectorDocuments.png");
}

.footer-link-case {
  background-image: url("./images/vectorCase.png");
  height: 55px;
  width: 50px;
}

.footer-link-text {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-link-text-case {
  top: 139%;
}

.case-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". . title . . "
    ". documents .  headings . "
    ". . closebutton . .";
}

.case-title {
  grid-area: title;
  text-align: center;
}

.case-documents {
  grid-area: documents;
}

.case-headings {
  grid-area: headings;
}

.case-closebutton {
  grid-area: closebutton;
  text-align: center;
}
