@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@500&family=Crimson+Text&display=swap");

body {
  background-color: #fbefd8;
  height: 100%;
}

h1 {
  font-family: "Cormorant Unicase", serif;
  font-size: 2.5vw;
}
h3 {
  font-family: "Cormorant Unicase", serif;
  font-size: 1.5vw;
}
h4 {
  font-family: "Cormorant Unicase", serif;
  font-size: 1.5vw;
}
p {
  font-family: "Crimson Text", serif;
  font-size: 1.5vw;
}

span {
  font-family: "Crimson Text", serif;
  font-size: 1.1vw;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Crimson Text", serif;
}

button {
  background-color: transparent;
  border: 1px solid black;
  font-family: "Crimson Text", serif;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
}

.modal-main {
  position: fixed;
  width: 500px;
  height: 400px;
  border: black;
  border-style: double;
  background-color: #f8ecc2;
}

.modal-mydocuments {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-mycase {
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.mycase-heading-box {
  min-width: 250px;
  min-height: 50px;
  border: 1px black solid;
}

.centred {
  position: absolute;
  top: 25%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.document-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.map-screen {
  font-size: 1.5vw;
}

.footer-link {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 50px;
  width: 55px;
  position: relative;
}

.footer-link-map {
  background-image: url("./images/vectorMap.png");
}

.footer-link-documents {
  background-image: url("./images/vectorDocuments.png");
}

.footer-link-case {
  background-image: url("./images/vectorCase.png");
  height: 55px;
  width: 50px;
}

.footer-link-text {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-link-text-case {
  top: 139%;
}

.case-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". . title . . "
    ". documents .  headings . "
    ". . closebutton . .";
}

.case-title {
  grid-area: title;
  text-align: center;
}

.case-documents {
  grid-area: documents;
}

.case-headings {
  grid-area: headings;
}

.case-closebutton {
  grid-area: closebutton;
  text-align: center;
}

.place-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    " . title . "
    ". documents . "
    " . footer . ";
}
.place-documents {
  grid-area: documents;
  text-align: center;
}

.footer {
  grid-area: footer;
  padding-top: 35%;
}

.footer-inner {
  text-align: center;
  font-size: 1.5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
